<header class="navbar navbar-dark sticky-top bg-blue-mine flex-md-nowrap p-0 shadow fullwidth">
    <%= link_to root_path, class: "navbar-brand col-md-3 col-lg-2 me-0 fs-6 pad3px-left" do %>
    <%= image_tag 'logo.png' %>
    <% end %>
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</header>